<nav class=" vertical-navbar">
    <h1>Jessa</h1>
    <ul>
        <li>
            <a href="#">
                <fa-icon [icon]="home"></fa-icon>
                <span class = "nav-text"> Dashboard</span>

            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="chart"></fa-icon>
                <span class=" nav-text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="message"></fa-icon>
                <span class="nav-text"> Messages</span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="bookmark"></fa-icon>
                <span class="nav-text"> Bookmark</span>
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="user"></fa-icon>
                <span class="nav-text">User</span>
            </a>
        </li>
    </ul>

</nav>
