<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class = "pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body pt-3">
                        <form >
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2">
                                        <input type="text" placeholder="FirstName">
                                        
                                    </span>
                                </div>
                                <div class="input-field">
                                    <span class="fa fa-user p-2">
                                        <input type="text" placeholder="LastName">
                                        
                                    </span>
                                </div>
                                <div class="input-field">
                                    <span class="fa fa-user p-2">
                                        <input type="text" placeholder="Email">
                                        
                                    </span>
                                </div>
                                <div class="input-field">
                                    <span class="fa fa-user p-2">
                                        <input type="text" placeholder="username">
                                        
                                    </span>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2">
                                        <input [type]="type" placeholder="password">
                                        <span (click) = 'hideShowPass()' class=" fa fa-eye-slash"></span>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="form-inline fr mt-4">
                                <a id="forget"class="font-weight-bold">Forget Password?</a>
                            </div> -->
                           
                            <button type="submit"class="btn btn-primary btn-block mt-4 w-100">
                                SignUp
                            </button>
                            
                            <div class="text-center pt-4 text-muted">Already have an Account? <a  [routerLink]="['/login']" id="forget">Login</a>
                              </div>
                        </form>
                    </div>
                    <!-- <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.facebook.com" targe="_blank" class= "px-2"> <img src="" alt=""></a>
                            <a href="https://www.google.com" targe="_blank" class= "px-2"> <img src="" alt=""></a>
                            <a href="https://www.linkedin.com" targe="_blank" class= "px-2"> <img src="" alt=""></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div> 


